body {
    background-color: #222222;
	/**background-color: rgba(34,34,34,0.3);*/     /* uncomment this to have transparency in OBS with CLR browser*/
    margin:0;
    padding:0;
	overflow:hidden;  /* mettre hidden pour cacher la barre de défilement*/
    font-family: Arial;
    font-weight: bold;
    text-overflow:clip;
    white-space:nowrap;
}

@font-face {
	font-family: "digital";
	src: url('../fonts/digital.ttf');
	font-family: "helvetiker_bold.typeface.";
	src: url('../fonts/helvetiker_bold.typeface.json');
	font-family: "helvetiker_regular.typeface.";
	src: url('../fonts/helvetiker_regular.typeface.json');
	font-family: "leaguespartan";
	src: url('../fonts/leaguespartan.ttf');
}

#page {
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: left top;
}

#expired {
    position: absolute;
    background-color:rgba(200,0,0,0.9);
    color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: None;
}

#drag {
    position: absolute;
    background-color:rgba(255,255,0,0);
    z-index:10;
    width:50%;
    height:50%;
    top: 25%;
    left: 25%;
    /*-webkit-user-select: none;*/
    -webkit-app-region: drag;
}
#drag:hover {
    cursor: move;
}

#weather { display:inline-block; position: absolute; width: 100%; background-color:#bbbbbb; /*padding-left: 0.25em;*/
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
}
#rpm { z-index: 3; display:inline-block; position: absolute; background-color: #cccccc; text-align: center;  }
#gear { z-index: 3; display:inline-block; position: absolute; background-color: #cccccc; text-align: center;  }
#speed { z-index: 3; display:inline-block; position: absolute; background-color: #444444; color: #ffffff; text-align: center;  }
#timeremain { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;  }
#tank_h { display:inline-block; position: absolute; background-color: #444444; color: #bbbbbb; text-align: center;  }
#estlaps_h { display:inline-block; position: absolute; background-color: #666666; color: #bbbbbb; text-align: center;  }
#lapsremain_h { display:inline-block; position: absolute; background-color: #666666; color: #bbbbbb; text-align: center;  }
#fuelneed_h { display:inline-block; position: absolute; background-color: #444444; color: #bbbbbb; text-align: center;  }
#tank { display:inline-block; position: absolute; background-color: #008800; color: #ffffff; text-align: center;
    overflow:hidden;
}
#estlaps { z-index:2; display:inline-block; position: absolute; background-color: rgba(255,255,0,0); color: #000000; text-align: center; overflow:hidden; }
#estlaps_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #00aa00; color: #000000; text-align: center;  }
#estlaps_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #ffffff; color: #000000; text-align: center;  }
#lapsremain { z-index:3; display:inline-block; position: absolute; background-color: rgba(255,0,0,0); color: #ff9900; text-align: center;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
    overflow:hidden;
}
#lapsremain_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #333333; color: #000000; text-align: center;  }
#lapsremain_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #996622; color: #000000; text-align: center; }
#lapsremain_bg2 { z-index:2; display:inline-block; position: absolute; background-color: #0088ff; color: #000000; text-align: center;  width: 1px;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#fuelneed { z-index:2; display:inline-block; position: absolute; background-color: rgba(255,0,0,0); color: #000000; text-align: center;
    overflow:hidden;
}
#fuelneed:hover {cursor:pointer;}
#fuelneed_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #ff9900; color: #000000; text-align: center;  }
#fuelneed_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #0099ff; color: #000000; text-align: center; }
#conso { display:inline-block; position: absolute; background-color: #005500; color: #ffffff; text-align: center;  }
/*#conso5 { display:inline-block; position: absolute; background-color: #005500; color: #ffffff; text-align: center;  }*/
#nbpits { display:inline-block; position: absolute; background-color: #990000; color: #ffbb00; text-align: center;
    overflow:hidden;
}

#oil { display:inline-block; position: absolute; background-color: #6f0968; color: #ffffff; text-align: center;  }
#water { display:inline-block; position: absolute; background-color: #3c9ffb; color: #ffffff; text-align: center;  }

#pre_pos_cont { display:inline-block; position: absolute; background-color: #333333; color: #69b3b0; text-align: right;  }
#me_pos_cont { display:inline-block; position: absolute; background-color: #dddddd; color: #69b3b0; text-align: right;   }
#post_pos_cont { display:inline-block; position: absolute; background-color: #333333; color: #69b3b0; text-align: right;   }
#pre_cpos_cont { display:inline-block; position: absolute; background-color: #333333; color: #69b3b0; text-align: right;   }
#me_cpos_cont { display:inline-block; position: absolute; background-color: #dddddd; color: #69b3b0; text-align: right;   }
#post_cpos_cont { display:inline-block; position: absolute; background-color: #333333; color: #69b3b0; text-align: right;   }

#pre_pos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#me_pos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#post_pos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pre_cpos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#me_cpos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#post_cpos { z-index: 1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0); color: #69b3b0; text-align: right;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}

#pre_gain { display:inline-block; position: absolute; background-color: #222222;  color: #888888; text-align: center;   }
#me_gain { display:inline-block; position: absolute; background-color: #eeeeee;  color: #888888; text-align: center;   }
#post_gain { display:inline-block; position: absolute; background-color: #222222;  color: #888888; text-align: center;   }
#pre_cgain { display:inline-block; position: absolute; background-color: #222222;  color: #888888; text-align: center;   }
#me_cgain { display:inline-block; position: absolute; background-color: #eeeeee; color: #888888; text-align: center;   }
#post_cgain { display:inline-block; position: absolute; background-color: #222222;  color: #888888; text-align: center;   }

#pre_best { display:inline-block; position: absolute; background-color: #000000; color: #ff00ff; text-align: center;  }
#me_best { display:inline-block; position: absolute; background-color: #ffffff; color: #ff00ff; text-align: center;   }
#post_best { display:inline-block; position: absolute; background-color: #000000; color: #ff00ff; text-align: center;   }
#pre_last { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }
#me_last { display:inline-block; position: absolute; background-color: #ffffff; color: #000000; text-align: center;   }
#post_last { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }

#pre_rel { display:inline-block; position: absolute; background-color: #000000; color: #888888; text-align: center;   }
#post_rel { display:inline-block; position: absolute; background-color: #000000; color: #888888; text-align: center;   }

#pre_stint { display:inline-block; position: absolute; background-color: #000000; color: #ffff00; text-align: center;   }
#me_stint { display:inline-block; position: absolute; background-color: #ffff00; color: #000000; text-align: center;   }
#post_stint { display:inline-block; position: absolute; background-color: #000000; color: #ffff00; text-align: center;   }

#me_lc { display:inline-block; position: absolute; background-color: #dddddd; color: #000000; text-align: center;   }

#pre_name { display:inline-block; position: absolute; background-color: #333333; color: #ffffff; text-align: left;  /*padding-left: 0.25em;*/
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
}
#post_name { display:inline-block; position: absolute; background-color: #333333; color: #ffffff; text-align: left;  /*padding-left: 0.25em;*/
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
}

#delta_best_h { display:inline-block; position: absolute; background-color: #ffffff; color: #888888; text-align: center;   }
#delta_last_h { display:inline-block; position: absolute; background-color: #ffffff; color: #888888; text-align: center;   }
#delta_avg_h { display:inline-block; position: absolute; background-color: #ffffff; color: #888888; text-align: center;   }
#delta_best { display:inline-block; position: absolute; background-color: #ffffff; text-align: center;   }
#delta_last { display:inline-block; position: absolute; background-color: #ffffff; text-align: center;   }
#delta_avg { display:inline-block; position: absolute; background-color: #ffffff; text-align: center;   }
#delta_tot { display:inline-block; position: absolute; background-color: #ffffff; text-align: center;   }

#shift { z-index: -1; position: absolute; width: 100%; height:100%; background-color:#000000; opacity: 0.5;}
#shift_bg { z-index: -1; position: absolute; width: 100%; height:100%; background-color:#000000;}

#bb { display:inline-block; position: absolute; background-color: #000000; color: #ff0000; text-align: center;   }
#tc { display:inline-block; position: absolute; background-color: #00bb00; color: #ffffff; text-align: center;   }
#tc2 { display:inline-block; position: absolute; background-color: #00bb00; color: #000000; text-align: center;   }
#ffb { display:inline-block; position: absolute; background-color: #000000; color: #2797ff; text-align: center;   }

#b_cont { display:inline-block; position: absolute; background-color: #000000; }
#t_cont { display:inline-block; position: absolute; background-color: #000000; }
#ffbpct_cont { display:inline-block; position: absolute; background-color: #000000; }

#b { display:inline-block; position: absolute; left:0px; background-color: #ff0000; width: 100%; bottom: 0px; height: auto; }
#t { display:inline-block; position: absolute; left:0px; background-color: #00ff00; width: 100%; bottom: 0px; height: auto; }
#ffbpct { display:inline-block; position: absolute; left:0px; background-color: #2797ff; width: 100%; bottom: 0px; height: auto; }

#delta_pre {  position: absolute; vertical-align: top;display:inline-block;color: #0000ff; background-color: #000000; font-size: 0; }
#delta_post {  position: absolute; vertical-align: top;display:inline-block;color: #0000ff; background-color: #000000; font-size: 0; }
#canvas_pre { position: relative; vertical-align: top;display:inline-block;color: #0000ff; background-color: #000000; }
#canvas_post { position: relative; vertical-align: top;display:inline-block;color: #0000ff;  background-color: #000000;}

#deltaB_pre {  position: absolute; vertical-align: top;display:inline-block;color: #0000ff; background-color:rgba(0,0,0,0); font-size: 0; }
#deltaB_post {  position: absolute; vertical-align: top;display:inline-block;color: #0000ff; background-color:rgba(0,0,0,0); font-size: 0; }
#canvasB_pre { position: relative; vertical-align: top;display:inline-block;color: #0000ff; background-color:rgba(0,0,0,0); }
#canvasB_post { position: relative; vertical-align: top;display:inline-block;color: #0000ff;  background-color:rgba(0,0,0,0);}

#compass {  position: absolute; vertical-align: top;display:inline-block;color: #0000ff; background-color: #000000; }
#canvas_compass { position: relative; vertical-align: top;display:inline-block;color: #0000ff; background-color: #ffffff; }

#display_rpmshift {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

#ers { display:inline-block; position: absolute; background-color: #ff0000; color: #ffffff; text-align: center;   }
#ersco { display:inline-block; position: absolute; background-color: #333333; color: #0088ff; text-align: center;   }
#ers_margin { z-index:0; display:inline-block; position: absolute; background-color: #0088ff; color: #ffffff; text-align: center;   }
#ers_margin_min_bar { z-index:1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0.0); color: #333333; text-align: center; }
#ers_margin_min_bar_ { z-index:2; display:inline-block; position: absolute; background-color: rgba(255,0,0, 1); color: #333333; height: 12.5%; width: auto; left: 0px; top: 0px; }
#mgu_margin_max_bar { z-index:1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0.0); color: #333333; text-align: center; }
#mgu_margin_max_bar_ { z-index:2; display:inline-block; position: absolute; background-color: rgba(0,255,0, 1); color: #333333; height: 12.5%; width: auto; left: 0px; bottom: 0px; }
#ers_margin_free_bar { z-index:1; display:inline-block; position: absolute; background-color: rgba(0,0,0,0.0); color: #333333; text-align: center; }
#ers_margin_free_bar_ { z-index:2; display:inline-block; position: absolute; background-color: #00ffff; color: #333333; height: 12.5%; width: auto; left: 0px; top: 0px; }

#mgul { display:inline-block; position: absolute; background-color: #00ff00; color: #000000; text-align: center;   }
#mgu { display:inline-block; position: absolute; background-color: #333333; color: #00ff00; text-align: center;   }
#mgua { display:inline-block; position: absolute; background-color: #ffffff; color: #000000; text-align: center;   }
#mguf { display:inline-block; position: absolute; background-color: #ffffff; color: #000000; text-align: center;   }
#regen_lap { display:inline-block; position: absolute; background-color: #ffffff; color: #ff0000; text-align: center;   }
#regen_turn { display:inline-block; position: absolute; background-color: #ffffff; color: #ff0000; text-align: center;   }
#drs { display:inline-block; position: absolute; background-color: #000000; color: #333333; text-align: center;   }

#fullscreen {
    position: absolute;
    background-color: #004422;
    opacity: 0.3;
    width: 6em;
    height: 3.5em;
    padding-top: 0.5em;
    line-height: 1.5em;
    z-index: 99999;
    right: 0px;
    bottom: 0px;
    color: #ff8800;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
}
#fullscreen:hover {
    opacity: 1;
}

#pitbar8, #pitbar16, #pitbar32, #pitbar64, #pitbar0 {
    position: absolute;
    z-index: 9998;
    left: 0px;
    right: 0px;
    height: 11.1%;
    opacity: 0.6;
    background-color: #ffff00;
    top:100%;
}
#pitbar64 {
    right: 75%;
    font-size: 222%;
    text-align:center;
}
#pitbar32 {
    left: 25%;
    right: 50%;
}
#pitbar16 {
    left: 50%;
    right: 25%;
}
#pitbar8 {
    left: 75%;
}
#pitbar0 {
    display: none;
    height: 22.2%;
    top: 77.8%;
}

#target_conso { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }
#fuel_end { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }
#time { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }
#perfs { display:block; position: absolute; background-color: #000000; color: #ffffff; text-align: left;   }

#rpm_leds { display:inline-block; position: absolute; background-color: #000000; color: #ffffff; text-align: center;   }
#led1 {  position: absolute; background-color: rgba(64,96,64, 0.5); border-radius:100%;}
#led2 {  position: absolute; background-color: rgba(64,96,64,0.5); border-radius:100%;}
#led3 {  position: absolute; background-color: rgba(64,96,64,0.5); border-radius:100%;}
#led4 {  position: absolute; background-color: rgba(64,96,64,0.5); border-radius:100%;}
#led5 {  position: absolute; background-color: rgba(96,64,64,0.5); border-radius:100%;}
#led6 {  position: absolute; background-color: rgba(96,64,64,0.5); border-radius:100%;}
#led7 {  position: absolute; background-color: rgba(96,64,64,0.5); border-radius:100%;}
#led8 {  position: absolute; background-color: rgba(96,64,64,0.5); border-radius:100%;}
#led9 {  position: absolute; background-color: rgba(64,64,96,0.5); border-radius:100%;}
#led10 {  position: absolute; background-color: rgba(64,64,96,0.5); border-radius:100%;}
#led11 {  position: absolute; background-color: rgba(64,64,96,0.5); border-radius:100%;}
#led12 {  position: absolute; background-color: rgba(64,64,96,0.5); border-radius:100%;}

#brake2 { display:inline-block; position: absolute; background-color: rgba(0,0,0,0.2); }
#throttle2 { display:inline-block; text-align: center; color: #ffffff; position: absolute; background-color: rgba(0,0,0,0.2); }
#ffb2 { display:inline-block; position: absolute; background-color: rgba(0,0,0,0.2); }

#brake2_ { display:inline-block; position: absolute; left:0px; background-color: #ff0000; width: auto; top: 0px; height: 100%; }
#throttle2_ { display:inline-block; position: absolute; left:0px; background-color: #00cc00; width: auto; top: 0px; height: 100%; }
#ffb2_ { display:inline-block; position: absolute; left:0px; background-color: #2797ff; width: auto; top: 0px; height: 100%; }

#brake2_text { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#throttle2_text { position: absolute; text-align: center; color: #ffffff; font-weight: bold}
#ffb2_text { position: absolute; text-align: right; color: #ffffff; font-weight: bold }

#sof { position: absolute; text-align: center; color: #ffffff; font-weight: bold }

#inc { position: absolute; text-align: center; color: #00b300; font-weight: bold }
#nextpittimelost { position: absolute; text-align: center; color: #ffaa00; font-weight: bold }
#ers_bar { display:inline-block; text-align: center; color: #ffffff; position: absolute; background-color: rgba(0,0,0,0.2); }
#ers_bar_ { display:inline-block; position: absolute; left:0px; background-color: #ffffff; width: 100%; bottom: 0px; height: auto; }

#regen_gain { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#fuel_mixture { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#peak_bb { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#diff_preload { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#diff_entry { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#fuelneed1 { z-index:2; display:inline-block; position: absolute; background-color: rgba(255,0,0,0); color: #000000; text-align: center; overflow:hidden; }
#fuelneed1_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #ff9900; color: #000000; text-align: center; }
#fuelneed1_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #0099ff; color: #000000; text-align: center; }
#fuelneed5 { z-index:2; display:inline-block; position: absolute; background-color: rgba(255,0,0,0); color: #000000; text-align: center; overflow:hidden; }
#fuelneed5_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #ff9900; color: #000000; text-align: center;  }
#fuelneed5_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #0099ff; color: #000000; text-align: center; }
#conso1 { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#conso5 { position: absolute; text-align: center; color: #ffffff; font-weight: bold }
#points { position: absolute; text-align: center; color: #aabbff; background-color: #333366; font-weight: bold }

#abs { display:inline-block; position: absolute; background-color: #bb0000; color: #ffffff; text-align: center;   }
#wj { position: absolute; text-align: center; color: #ffffff; background-color: #aa00aa;}
#arb_f { position: absolute; text-align: center; color: #ffff00; background-color: #0066aa;}
#arb_r { position: absolute; text-align: center; color: #ff9900; background-color: #004488;}

#refuel_min { position: absolute; text-align: center; color: #ffffff; background-color: #dd4400;}
#refuel_avg { position: absolute; text-align: center; color: #ffffff; background-color: #44a000;}
#refuel_avg_now { position: absolute; text-align: center; color: #ffffff; background-color: #8844c0;}

#time_of_day { position: absolute; text-align: center; color: #555555; background-color: #aaaaaa;}

#traffic { position: absolute; display:inline-block; text-align: center; color: #000000; background-color: #ffffff;
    overflow:hidden;
}
#traffic_pit { position: absolute; display:inline-block; text-align: center; color: #ffffff; background-color: #ffaa00;
   overflow:hidden;
}

#eng_pw { position: absolute; text-align: center; color: #ffffff; font-weight: bold }

.shadow {
   	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}

#setting_changed_name { display: none; z-index: 10; position: absolute; text-align: center; vertical-align:bottom; background-color:rgba(160,160,160,1);}
#setting_changed_value { display: none; z-index: 11; position: absolute; text-align: center; vertical-align:bottom; background-color:rgba(210,210,210,1); color: #000000}
