body {
    background-color: #222222;
    margin:0;
    padding:0;
	overflow:hidden;  /* mettre hidden pour cacher la barre de défilement*/
    font-family: Arial;
    -webkit-user-select: none;
    /*-webkit-app-region: drag;*/
}

#page {
    background-color: #222222;
}

#expired {
    position: absolute;
    background-color:rgba(200,0,0,0.9);
    color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: None;
}

#souris {
    position: absolute;
    top:-100px;
    left:-100px;
    width:12px;
    height:12px;
    background: rgba(255,255,255,1);
    border: 1px solid #000000;
    border-radius:50%;
    z-index: 9999999;
    /*-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);*/
}

#clock {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color:rgba(0,0,0,0.5);
    color: #ffffff;
    font-weight: bold;
    z-index: 999999;
}

#loading {
    position: absolute;
    background-color:rgba(0,100,200,0.7);
    color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 999999;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#wind_alert {
    position: absolute;
    display: none;
    background-color:rgba(200,0,0,0.7);
    color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 999999;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

#drag {
    position: absolute;
    background-color:rgba(255,255,0,0);
    z-index:10;
    width:20%;
    height:20%;
    top: 40%;
    left: 40%;
    /*-webkit-user-select: none;*/
    -webkit-app-region: drag;
}
#drag:hover {
    cursor: move; /*background-color:rgba(255,255,0,0.5);*/
}

#container {
    color: #ffffff;
	left:0px;
	top:80px;
	bottom:0px;
	right:-17px;
	/*right:-0px;*/
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;  /* Important pour éviter les lenteurs de scroll sur l'iPad */
	position:absolute;  				/* enlever le mode absolute pour les tablettes */
    height: auto;
    -webkit-user-select: none;
    /*-webkit-app-region: drag;*/
}

#container_height {  /* permet d'imposer la hauteur du tableau pour pouvoir recentrer le pilote */
    /*background-color: #008fff;*/
    /*height: 2500px;*/
}

#upper_part {
	color: #ffffff;
}
canvas {
    margin:0px;
    padding:0px;
    position:absolute;
	/*position:relative;*/
    z-index:4;
    background-color:rgba(0,0,0,0);
    transition-property: background-color, top;
    transition-duration: 0.5s;
}

.canvasB {
    z-index:5;
	/*position:relative;
	margin-left:-100px;*/
}

#tableau {
	/*color:#ffffff;*/
}

#timing {
    border-collapse: collapse;
    font-weight: normal;
    font-family: Arial;
    font-size: 24px;
    margin:0px;
    padding:0px;
}

.ligne0 {
    position:absolute;
    background-color : #555555;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
    width:100%;
    z-index:4;
    height:40px;
	left:0;
	line-height:40px;
    font-weight: normal;
    font-family :Arial;
    font-size: 24px;
}
.ligne {
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;

    position:absolute;
    margin:0px;
    padding:0px;
    width:100%;
    transition-property: top;
    transition-duration: 0.5s;

    z-index:3;
	left:0;
	color:#ffffff;

    cursor:pointer;
}

.ligneP {
    position:absolute;
    width:100%;
    -webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
    z-index:10;
}
.lignePr {
    position:absolute;
    width:100%;
    z-index:9;
}

.ligneB {
    transition-property: background-color;
}
.ligneM {
	position: absolute;
	width: 100%;
	height: 100%;
    z-index:-1;
}

/*.ligneH:hover {	background-color:rgba(136,136,136,0.5);	z-index:5;}*/ /* Se trouve dans timing.html */


.marge { display:inline-block;width: 8px; }




.car {width: 42px; text-align:center; display:inline-block; color:#999999;font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#car00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#car00:hover {color:#ffffff;cursor:pointer;}

.clubname {width: 42px; text-align:center; display:inline-block; color:#999999;font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#clubname00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#clubname00:hover {color:#ffffff;cursor:pointer;}

.gain {width: 42px; text-align:center; display:inline-block; color:#999999;font-weight: bold;  }
#gain00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#gain00:hover {color:#ffffff;cursor:pointer;}

.cgain {width: 42px; text-align:center; display:inline-block; color:#999999;font-weight: bold;  }
#cgain00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#cgain00:hover {color:#ffffff;cursor:pointer;}


.pos {width: 42px; text-align:center; display:inline-block; color:#69b3b0; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pos00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pos00:hover {color:#ffffff;cursor:pointer;}

.cpos {width: 42px; text-align:center; display:inline-block; color:#69b3b0;font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#cpos00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#cpos00:hover {color:#ffffff;cursor:pointer;}

.spos {width: 42px; text-align:center; display:inline-block; color:#69b3b0;font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#spos00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#spos00:hover {color:#ffffff;cursor:pointer;}

.scpos {width: 42px; text-align:center; display:inline-block; color:#69b3b0;font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#scpos00 {display:inline-block;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#scpos00:hover {color:#ffffff;cursor:pointer;}

.num {width:50px; text-align:center; display:inline-block; font-weight: bold; opacity:0.75;}
#num00 {display:inline-block;font-weight: bold;color: #9e9e9e; opacity: 1;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#num00:hover {color:#ffffff;cursor:pointer;}

.name {padding-left:8px; width:342px; background-color:rgba(0,0,0,0); margin-right:0px;display:inline-block; font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#name00 {display:inline-block;color: #9e9e9e;font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#name00:hover {color:#ffffff;cursor:pointer;}

.ir {text-align:center; display:inline-block; font-weight: bold; opacity:0.75}
#ir00 {display:inline-block;font-weight: bold;color: #9e9e9e; opacity: 1;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#ir00:hover {color:#ffffff;cursor:pointer;}

.lic {text-align:center; display:inline-block; font-weight: bold; opacity:0.75}
/*.lic {position:relative;top:-0px;vertical-align:middle;text-align:center; width: 72px; display:inline-block; font-weight: bold; opacity:0.75}*/
#lic00 {display:inline-block;font-weight: bold;color: #9e9e9e; opacity: 1;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#lic00:hover {color:#ffffff;cursor:pointer;}


.speed {text-align:center; display:inline-block; font-weight: bold;}
#speed00 {display:inline-block;font-weight: bold;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#speed00:hover {color:#ffffff;cursor:pointer;}

.topspeed {text-align:center; display:inline-block; font-weight: bold; color:#ff5555}
#topspeed00 {display:inline-block;font-weight: bold;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#topspeed00:hover {color:#ffffff;cursor:pointer;}

.accel {text-align:center; display:inline-block; font-weight: bold;}
#accel00 {display:inline-block;font-weight: bold;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#accel00:hover {color:#ffffff;cursor:pointer;}


.apex_speed {text-align:center; display:inline-block; font-weight: bold;}
#apex_speed00 {display:inline-block;font-weight: bold;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#apex_speed00:hover {color:#ffffff;cursor:pointer;}

.max_speed {text-align:center; display:inline-block; font-weight: bold;}
#max_speed00 {display:inline-block;font-weight: bold;color: #9e9e9e;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#max_speed00:hover {color:#ffffff;cursor:pointer;}

.rel {background-color:rgba(0,0,0,0);display:inline-block;padding-left:8px; color: #9e9e9e; font-weight: bold}
#rel00 {display:inline-block; color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#rel00:hover {color:#ffffff;cursor:pointer;}

.delta {vertical-align: top;visibility:hidden;display:inline-block;color: #0000ff; }
#delta00 {visibility:visible; display:inline-block; text-align:center; color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#delta00:hover {color:#ffffff;cursor:pointer;}

.gap {display:inline-block;padding-left:8px; color: #9e9e9e; font-weight: bold}
#gap00 {display:inline-block; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#gap00:hover {color:#ffffff;cursor:pointer;}

.last {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#last00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#last00:hover {color:#ffffff;cursor:pointer;}

.best {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#best00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#best00:hover {color:#ffffff;cursor:pointer;}

.qualy {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#qualy00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#qualy00:hover {color:#ffffff;cursor:pointer;}

.lc {text-align:center; padding-left:0px;display:inline-block;font-weight: bold}
#lc00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#lc00:hover {color:#ffffff;cursor:pointer;}

.distpct {text-align:center; padding-left:0px;display:inline-block;font-weight: bold}
#distpct00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#distpct00:hover {color:#ffffff;cursor:pointer;}

.stint {text-align:center; background-color:rgba(0,0,0,0);display:inline-block;padding-left:0px;color: #ffff00; font-weight: bold}
#stint00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#stint00:hover {color:#ffffff;cursor:pointer;}

.pit {text-align:center; display:inline-block;color: #ff9900; padding-left:0px; font-weight: bold}
#pit00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pit00:hover {color:#ffffff;cursor:pointer;}

.pitroadtime {text-align:center; background-color:rgba(0,0,0,0);display:inline-block;padding-left:0px; padding-right:0px; color: #ffffff; font-weight: bold;}
#pitroadtime00 {display:inline-block; color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pitroadtime00:hover {color:#ffffff;cursor:pointer;}

.pitstalltime {text-align:center; background-color:rgba(0,0,0,0);display:inline-block;padding-left:0px; padding-right:0px; color: #ffffff; font-weight: bold}
#pitstalltime00 {display:inline-block; color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#pitstalltime00:hover {color:#ffffff;cursor:pointer;}

.inc {text-align:center; display:inline-block;padding-left:0px; color: #00b300; font-weight: bold }
#inc00 {display:inline-block; color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#inc00:hover {color:#ffffff;cursor:pointer;}

.points {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#points00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#points00:hover {color:#ffffff;cursor:pointer;}

.gap_dist {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#gap_dist00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#gap_dist00:hover {color:#ffffff;cursor:pointer;}

.avg1 {text-align:center; transition-property: background-color;padding-left:8px;padding-right:0px;display:inline-block;font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#avg100 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#avg100:hover {color:#ffffff;cursor:pointer;}

.avg2 {text-align:center; transition-property: background-color;padding-left:8px;padding-right:0px;display:inline-block;font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#avg200 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#avg200:hover {color:#ffffff;cursor:pointer;}

.avg3 {text-align:center; transition-property: background-color;padding-left:8px;padding-right:0px;display:inline-block;font-weight: bold;
    overflow:hidden;
    text-overflow:clip ;
    white-space:nowrap;
	vertical-align:top;
}
#avg300 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#avg300:hover {color:#ffffff;cursor:pointer;}

.sectors {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: normal;}
#sectors00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#sectors00:hover {color:#ffffff;cursor:pointer;}

.cgap {text-align:center; transition-property: background-color;padding-left:0px;padding-right:0px;display:inline-block;font-weight: bold;}
#cgap00 {display:inline-block;color: #9e9e9e; font-weight: bold;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#cgap00:hover {color:#ffffff;cursor:pointer;}



#tick { display:none; font-size : 48px; padding-left: 1px; color : #ffffff;background-color:#000000;font-weight: bold}

.fps {background-color:rgba(0,0,0,0);text-align:right; position: absolute; top : 20px; right:0px; width:100%; font-family :Arial;; font-size : 16px; color : #ffffff;background-color:#000000;font-weight: bold;
}
#fps {position:absolute;right:0;z-index:6;}

#p00 {z-index:7;position:absolute;top:70px; font-family :Arial;}


#throttle_bar { display:none; background-color:#FF0000;height:36px;width:100px}

#donate {position:absolute;z-index:5;top: 0px; left:0px; right:0px; text-align:center; padding:0px; margin:0px;border:0px ;
	line-height:18px; width:100%; background-color:rgba(68,68,68,0.5); color:#ffdd00;
}
a {border: 0;margin:0;padding : 0;}
a:link { text-decoration: none; display:inline-block; color:#ffee00; font-family :Arial; font-weight: bold; }
a:hover { text-decoration: none; color:#000000; }
a:visited { color:#ffee00; }
a:visited:hover { color:#000000; }


#click_infos { position:absolute; width:100%; z-index:5; display:none}
/*#infos {padding-left: 8px;padding-right: 8px;background-color:#999999; width:100%;position:absolute;top : 20px; left:0; font-family :Arial; font-style: normal; font-size : 24px; color : #ffffff;font-weight: normal;  }*/

#sofbar {
    position: absolute;
    width: 100%;
    font-family :Arial; font-style: normal; font-weight: bold; color: #ffffff;
    background-color: rgba(50,50,50,1);
    text-align: center;
    display: none;
    left: 0px;
}

#infosbar {
    position: absolute;
    width: 100%;
    left: 0px;
    font-family :Arial; font-style: normal; font-weight: bold; color: #ffffff;
    text-align: center;
    text-overflow:clip ;
    white-space:nowrap;
    display: none;
}

#litre { display: none; z-index: 6; position: absolute; background-color: #dddddd; color: #000000; }
#litre:hover {cursor:pointer;}
#kg { display: none; z-index: 6; position: absolute; background-color: #999999; color: #555555; }
#kg:hover {cursor:pointer;}
#tank_h { z-index:6; position: absolute; left: 0px; background-color: #444444; color: #bbbbbb; }
#tank_h:hover {cursor:pointer;}
#estlaps_h { position: absolute; background-color: #666666; color: #bbbbbb; }
#timeremain_h { position: absolute; background-color: #444444; color: #bbbbbb; }
#lapsremain_h { position: absolute; background-color: #666666; color: #bbbbbb; }
#fuelneed_h { z-index:6; position: absolute; background-color: #444444; color: #bbbbbb; }
#fuelneed_h:hover {cursor:pointer;}
#tank { z-index:6; position: absolute; background-color: #008800; color: #ffffff;
    overflow:hidden;
}
#tank:hover {cursor:pointer;}
#conso { z-index:6; position: absolute; background-color: #005500; color: #ffffff; }
#conso:hover {cursor:pointer;}
#estlaps { z-index:6; position: absolute; background-color: rgba(255,0,0,0); color: #000000; }
#estlaps_bg0 { z-index:5; position: absolute; background-color: #00aa00; color: #000000; }
#estlaps_bg1 { z-index:5; position: absolute; background-color: #ffffff; color: #000000; }
#timeremain { position: absolute; background-color: #000000; color: #ffffff;}
#timeremain:hover {cursor:pointer;}
#lapsremain { z-index:3; display:inline-block; position: absolute; background-color: rgba(255,0,0,0); color: #ff9900; text-align: center;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#lapsremain_bg0 { z-index:0; display:inline-block; position: absolute; background-color: #333333; color: #000000; text-align: center;  }
#lapsremain_bg1 { z-index:1; display:inline-block; position: absolute; background-color: #996622; color: #000000; text-align: center; }
#lapsremain_bg2 { z-index:2; display:inline-block; position: absolute; background-color: #0088ff; color: #000000; text-align: center; width: 1px;
	-webkit-filter: drop-shadow(1px 1px 1px black);
	filter: drop-shadow(1px 1px 1px black);
}
#fuelneed { z-index:6; position: absolute; background-color: rgba(255,0,0,0); color: #000000; }
#fuelneed:hover {cursor:pointer;}
#fuelneed_bg0 { z-index:5; position: absolute; background-color: #ff9900; color: #000000; }
#fuelneed_bg1 { z-index:5; position: absolute; background-color: #0099ff; color: #000000; }
#sessioninfos { z-index:6; font-weight:bold;padding-left: 8px; text-align: left; position: absolute; background-color: #dddddd; color: #000000; width: auto; right: 0px; }

#sof_cont {padding-left: 0px; text-align: left; position: absolute; color: #000000; width: auto; right: 0px; }
#sof_cont:hover {cursor:pointer;}


#tires { display:block; z-index:60; position:absolute; text-align:center;}
#tires:hover {cursor:pointer;}
#tires_all {padding-left: 8px; padding-right: 8px; position:relative;display:inline-block;background-color:#ff0000}
#tires_none {padding-left: 8px; padding-right: 8px; position:relative;display:inline-block;background-color:#0000ff}
/*#tires_all { z-index: 6;padding-left: 2px; padding-right: 2px;text-align: center; position: absolute; background-color: #ff0000; color: #ffffff; }*/
/*#tires_none { z-index:6;padding-left: 2px; padding-right: 2px; text-align: center; position: absolute; background-color: #0000ff; color: #ffffff;  }*/

#logo { z-index:11; border: 1px solid #000000;background-color:#ffffff;position: absolute; right: 0px; padding-right:4px; padding-left:4px; }

#app_name { z-index:11; font-weight:normal; font-style: italic; padding-right:4px;color:#000000;position:absolute; display:inline-block; top:0px; right:0px }

#flag_img { z-index:2; position:absolute; }

#waitforiracing { display:none; z-index: 10;color: #ffffff; font-weight: bold; opacity:0.2; text-align: center; vertical-align: middle;
    position:absolute; padding-left:8px; left: 0; right: 0; width: auto; top: 0; bottom: 0; height: auto;
    background-color:rgba(21,118,251,1);
}

#display_options { display:none; opacity:0; z-index:12000; position:absolute; right:0px; background-color:#ff0000; width:2%; height:100%}
#display_options:hover { opacity:0.7; }
#close_options { z-index:12000; padding-right:1em; padding-top: 0.5em; font-size:0.7em; position:absolute;right:0; top:0; height:58em; }
#close_options:hover {cursor:pointer; font-weight:bold}
#options { display:none; z-index:12000; margin: 0em;padding:1em; color:#ffffff; font-size:1em;
    position:absolute;right:0px; top:0px; bottom: 0px;
    background-color:rgba(255,0,0,0.7); width:90%; height:auto;
    line-height:2em;
    overflow-y:scroll;
}

#display_trackmap { display:block; opacity:0; z-index:13; position:absolute; left:0px; background-color:#cccccc; width:2%; height:100%}
#display_trackmap:hover { opacity:0.7; }
#close_trackmap { z-index:10; padding-left:1em; padding-top: 0.5em; font-size:0.7em; position:absolute;left:0; top:0; height: 100%; }
#close_trackmap:hover {cursor:pointer; font-weight:bold}
#trackmap { display:none; z-index:11; margin: 0em;padding:0em; color:#ffffff; font-size:1em;
    position:absolute;left:0px; top:0px; bottom: 0px;
    /*background-color:rgba(0,128,255,0.7);*/
    /*background-color:rgba(90,90,90,1);*/
    background:url("../img - default/trackmap_logo.png") right bottom no-repeat;
    background-size:25%;
    width:100%; height:auto;
    line-height:2em;
}
#trackmap_bg { display:none; z-index:10; margin: 0em;padding:0em; color:#ffffff; font-size:1em;
    position:absolute;left:0px; top:0px; bottom: 0px;
    /*background-color:rgba(140,140,140,1);*/
    background: url("../img - default/trackmap_bg.png") center no-repeat;
    background-size:100% auto;
    width:100%; height:auto;
    line-height:2em;
}

#trackmap_canvas { z-index:-2; margin:0px; padding:0px; top:0px; /*background-color:rgba(255,255,0,0.8);*/ }
#trackmap_fond_canvas { z-index:-3; margin:0px; padding:0px; top:0px;
    /*background-color:rgba(255,255,0,0.8);*/
}
#trackmap_fond_turns_canvas { z-index:-1; margin:0px; padding:0px; top:0px; left: 0px; }


@font-face {
    font-family: "leaguespartan";
    src: url('../skins/griptv/leaguespartan-bold.ttf');
}

#banner {
    display: none; position:absolute;left:0px; top:0px; right:0px;
    font-family: "leaguespartan";
    font-size: 16px;
    color: #ffffff;
    overflow:hidden;
    background-color:#333333;
}

#banner_logo {
    float: left;
}

#banner_text {
    float: left;
    padding-top: 12px;
    padding-left: 24px;
}

#banner_live {
    display: block;
    padding-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
    float: right;
    background-color: #dd0000;
    font-size: 36px;
    vertical-align: middle;
}

#fullscreen {
    position: absolute;
    background-color: #004422;
    opacity: 0.3;
    width: 4em;
    height: 3.5em;
    padding-top: 0.5em;
    line-height: 1.5em;
    z-index: 99999;
    right: 0px;
    bottom: 0px;
    color: #ff8800;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
}
#fullscreen:hover {
    opacity: 1;
}

#events_ticker {
	-webkit-overflow-scrolling: touch;  /* Important pour éviter les lenteurs de scroll sur l'iPad */
    display: none; position:absolute;left:0px; top:0px; right:0px;
    /*color: #ffffff;*/
    color: #d9d9d9;
    /*background-color: #003366;*/
    background-color: #333333;
    overflow-y:scroll;
}

#laptimes {
    display: none; position: absolute; z-index:12; right: 0px; height: 100%; /*width: 66%;*/
    color: #000000; background-color: rgba(220,220,220,0.8);
    font-weight: bold;
    overflow-y:scroll;
    padding-left:0.5em; padding-right:0.75em;
}

#laptimes_cont {
    padding-left: 0.0em; position: relative; display: inline-block; vertical-align: top;
    height: 100%;  line-height:1.5em; /*background-color: #0099ff;*/ ; font-size: 0.75em;
}

#laptimes_close {
    opacity: 0.3; display: block; position: absolute; right: 1em; top: 0px; height: 100%; line-height: 1.5em; vertical-align: middle;z-index:10001; cursor: pointer;
}

#menu {
    display: block; position: absolute; width: 100%; bottom: 0px;  white-space: nowrap;
}

.menu_button {
    display: inline-block; position:relative; z-index:10001; bottom: 0px; line-height: 1.75em; /*margin-left: auto; margin-right: auto;*/
    color: #000000; background-color: rgba(200,200,200,1); opacity: 0.9; font-weight: bold;
    text-align: center; vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;
    border-radius: 0.6em 0.6em 0 0;
    cursor: pointer;
    border: #000000 1px solid;
    border-bottom: 1px;
}

.menu_button_on {
    display: inline-block; position:relative; z-index:10001; bottom: 0px; line-height: 1.75em; /*margin-left: auto; margin-right: auto;*/
    color: #000000; background-color: rgba(255,255,255,1); opacity: 0.9; font-weight: bold;
    text-align: center; vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;
    border-radius: 0 0 0.6em 0.6em;
    cursor: pointer;
    border: #000000 1px solid;
    border-top: 0px;
}


.menu_button:hover {
    background-color: rgba(255,255,255,1);
    opacity: 1;
}

#standing_filter_menu,
#events_filter_menu {
    display:none; position: absolute; width: 100%; background-color: rgba(255,255,255,0.9); z-index:10000;
    padding: 0.5em; bottom: 1.75em;
}

#my_results_menu {
    display:none; position: absolute; width: 100%; background-color: rgba(255,255,255,0.9); z-index:10000;
    padding: 0.0em; top: 0em; bottom: 1.75em;
}

#colorize_drivers_menu {
    display:none; position: absolute; /*width: 67%*/; background-color: rgba(255,255,255,0.9); z-index:10000;
    padding: 0.0em; bottom: 0em; height: 100%; right: 0;
}

.menu_close {
    opacity: 0.3; display: block; position: absolute; right: 1em; top: 0px; height: 100%; line-height: 1.5em;
    vertical-align: middle;z-index:10001; cursor: pointer;
}

#my_results_cont {position: absolute; width:100%; top: 0; bottom: 2.5em; white-space: nowrap; font-size: 0.75em;}

#colorize_drivers_cont {
   padding-left: 0.5em; position: relative; display: inline-block; vertical-align: top;
   height: 100%;  line-height:1.5em; /*background-color: #0099ff;*/ ; font-size: 0.75em;
}

.session_filter_cont { padding-left: 0.5em; position: relative; display: inline-block; vertical-align: top;
   height: 100%;  line-height:1.5em; /*background-color: #0099ff;*/
}
.session_filter { padding: 0.0em; position: relative; display: inline-block; vertical-align: top;
    overflow-y:scroll; overflow-x: hidden; max-height: 100%; min-width: 4em; max-width: 13em; line-height:1.5em;
    background-color:rgba(220,220,220,0.5);
}

#drivers { padding: 0.0em; position: relative; display: inline-block; vertical-align: top;
    overflow-y:scroll; overflow-x: hidden; height: 100%;
}

#session { padding: 0.0em; position: relative; display: inline-block; vertical-align: top;
    overflow-y:scroll; max-height: 100%; min-width: 4em;  line-height:1.5em;
    overflow-x: hidden; background-color:rgba(220,220,220,0.5);
}

.filter_hover {
    display: block;
}
.filter_hover:hover {
    background-color:#ffffff; cursor: pointer; color: #ff8800;
}

a.iracing_link {
    font-size: 0.75em; font-weight: normal;
}
a.iracing_link:link {
    color: #000000;
}
a.iracing_link:visited {
    color: #000000;
}
a.iracing_link:hover {
    color: #0000ff; cursor: default; text-decoration: underline;
}
a.iracing_link:active {
    color: #ff0000;
}

#sf_line {
    position: absolute;
    z-index: 7;
    background-color: #000000;
    border-top: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00;
    width: 100%;
    height: 1px;
    top: 100px;
}